@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8037;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    /* Start and end at normal size */
  }

  50% {
    transform: scale(1.05);
    /* Grow slightly at the halfway point */
  }
}

.ascii-art {
  line-height: 1;
  /* Adjust this value as needed */
  animation: fadeIn 2s ease-in-out, breathe 3s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.profile-image {
  animation: fadeIn 2s, bounce 1s 2s infinite;
}